<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Inner Circle</title>
</head>
<body>
    <main class="main">
        <div class="page-content-holder">
            <nav>
                <div class="site-title" onclick="window.location.href='/'"><h1>Inner Circle</h1></div>
                <div class="primary-btn-holder"></div>
            </nav>
            <div class="messages-holder">
                <div class="page-title"><h2>Enter Passcode  </h2>
                    <h3>Complete the phrase to prove you're worthy :</h3>
                    <h4><i>"A pen is mightier than a _____"</i></h4>
                <form action="/elite-member" method="POST">
                     <input type="text" id="elite_member" name="passcode" required>
                     <button type="submit" class="submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>