<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/group.png">
    <title>Inner Circle</title>
</head>
<body>
    <main class="main">
        <div class="page-content-holder">
            <nav>
                <div class="site-title" onclick="window.location.href='/'"><h1>Inner Circle</h1></div>
                <div class="primary-btn-holder"></div>
            </nav>
            <div class="messages-holder">
                <div class="page-title"><h2>Kindly Login First</h2>
                <form action="/log-in" method="POST">
                     <button type="submit" class="submit-btn">Log In</button>

                </form>
            </div>
        </div>
    </main>
</body>
</html>