<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/group.png">
    <title>Inner Circle</title>
</head>
<body>
    <main class="main">
        <div class="page-content-holder">
            <nav>
                <div class="site-title" onclick="window.location.href='/'"><h1>Inner Circle</h1></div>
                <div class="primary-btn-holder"></div>
            </nav>
            <div class="form-holder">
                <div class="page-title"><h2>Sign Up!</h2></div>
                <form action="/sign-up" method="POST" class="form">
                     <label for="username">Username :</label>
                     <input id="username" name="username" type="text" required /><br>
                     <label for="password">Password&nbsp;&nbsp;:</label>
                     <input id="password" name="password" type="password" required/><br>
                     <label for="admin_rights">Give me admin rights (deleting messages)</label>
                     <input type="checkbox" name="admin_rights" class="admin-checkbox">
                     <p class="signup-text"><i>Remember, You have to become an Elite member to access your admin rights.</i> </p> 
                     <button type="submit" class="submit-btn">Sign Up</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>